@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@mixin MullerRegular() {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

@mixin MullerMedium() {
  font-family: 'Muller', sans-serif;
  font-weight: 500;
}

@mixin MullerBold() {
  font-family: 'Muller', sans-serif;
  font-weight: 700;
}

@mixin RobotoRegular() {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}