.intro {
  padding-top: 76px;
}

.intro__inner {
  display: flex;
  justify-content: space-between;
}

.intro__text {
  max-width: 708px;

  &__title {
    @include MullerBold();
    font-size: 38px;
    line-height: 1.2;
    color: #000000;
  }

  &__subtitle {
    margin-top: 60px;
    @include MullerMedium();
    font-size: 16px;
    color: #4F4F4F;
  }

  &__advantages {
    margin-top: 98px;
    display: flex;
    flex-wrap: wrap;

    &__item {
      max-width: 260px;
      width: 100%;
      display: flex;
      margin-right: 72px;
      margin-bottom: 28px;

      &__icon {
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
        margin-right: 12px;
      }

      &__text {
        font-size: 16px;
        @include MullerRegular();
        color: #000000;
      }
    }
  }

  &__button {
    margin-top: 93px;

    &__description {
      font-size: 14px;
      color: #4F4F4F;
      max-width: 324px;
      width: 100%;
      margin-bottom: 12px;
    }

    button {
      display: flex;
      justify-content: center;
    }
  }
}

.intro__button {
  padding: 18px 40px;
}

.intro__photo--desktop {
  img {
    max-width: 454px;
    width: 100%;
  }
}

.intro__photo--mobile {
  display: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    max-width: 284px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .intro__text {
    max-width: 630px;

    &__title {
      font-size: 34px;
    }

    &__subtitle {
      font-size: 14px;
      margin-top: 42px;
    }

    &__advantages {
      margin-top: 60px;

      &__item {
        margin-right: 42px;
      }
    }

    &__button {
      margin-top: 70px;
    }
  }
}

@media (max-width: 992px) {
  .intro__photo--desktop {
    display: none;
  }

  .intro__photo--mobile {
    display: block;
  }

  .intro__text {
    &__advantages {
      justify-content: center;
    }

    &__subtitle {
      margin-top: 25px;
    }

    &__button {
      margin-top: 40px;
    }
  }
}

@media (max-width: 576px) {
  .intro {
    padding-top: 36px;
  }

  .intro__text {
    &__title {
      text-align: center;
      font-size: 28px;
    }

    &__subtitle {
      text-align: center;
      font-size: 14px;
      margin-top: 12px;
    }

    &__advantages {
      margin-top: 18px;
    }

    &__advantages__item {
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
      margin-left: 0;
      
      &__icon {
        text-align: center;
        margin: 0 auto;

        img {
          margin: 0 auto;
        }
      }

      &__text {
        text-align: center;
        margin-top: 8px;
      }
    }

    &__button {
      margin-top: 28px;
    }

    &__button__description {
      text-align: center;
      margin: 0px auto 8px auto;
    }
  }

}